@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject Compressarr.Pages.Services.ILayoutService layoutService 


<LayoutEngine @ref="layoutEngine" OnStateChanged="LayoutEngineStateChanged">
    <div class="topbar">
        <NavMenu />
    </div>

    <div class="main">
        <div id="content">
            <CascadingValue Value=layoutEngine>
                @Body
            </CascadingValue>
        </div>
    </div>
</LayoutEngine>

@code {
    protected LayoutEngineBase layoutEngine = new();

    protected void LayoutEngineStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
}
