<nav>
    <NavLink href="" Match="NavLinkMatch.All">Jobs</NavLink>
    <NavLink href="radarr">Radarr</NavLink>
    <NavLink href="sonarr">Sonarr</NavLink>
    <NavLink href="ffmpeg">FFmpeg</NavLink>
    <NavLink href="options"><MudIcon Icon="@Icons.Material.Filled.Settings" /></NavLink>
</nav>

@code {

}