<nav>
    <NavLink href="" Match="NavLinkMatch.All" title="Security isn't a dirty word, Blackadder. 'Crevice' is a dirty word, but 'security' isn't.">Jobs</NavLink>
    <NavLink href="radarr" title="I think every case is different. Every situation is different. People come on the F.B.I.'s radar screen for a variety of reasons at a variety of times.">Radarr</NavLink>
    <NavLink href="sonarr" title="I know she's just trying to make things nice, so I do my part. Now, when I get up to use the bathroom in the middle of the night, I turn on the light. I used to just go by sonar: just keep peeing til you hear water.">Sonarr</NavLink>
    <NavLink href="ffmpeg" title="Used to fund expenses related to development (e.g. to cover equipment and server maintenance costs), to sponsor bug fixing, feature development, the participation or organization of meetings and events in the project interest area, and to support internal development or educational projects or any other activity promoting">FFmpeg</NavLink>
    <NavLink href="options" title="It's easy to make good decisions when there are no bad options"><MudIcon Icon="@Icons.Material.Filled.Settings" /></NavLink>
</nav>

@code {

}