html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ededed; }

body {
  background: #c3c3c3;
  /* Old browsers */
  background: url(https://raw.githubusercontent.com/Burry/Organizr-Plex-Theme/master/images/background/noise.png) center center fixed, -moz-linear-gradient(-45deg, #c3c3c3 0%, #141414 100%);
  /* FF3.6-15 */
  background: url(https://raw.githubusercontent.com/Burry/Organizr-Plex-Theme/master/images/background/noise.png) center center fixed, -webkit-linear-gradient(-45deg, #c3c3c3 0%, #141414 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url(https://raw.githubusercontent.com/Burry/Organizr-Plex-Theme/master/images/background/noise.png) center center fixed, linear-gradient(135deg, #c3c3c3 0%, #141414 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-Start', endColorstr='$background-End',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  min-height: 100vh; }

a, .btn-link {
  color: rgba(240, 0, 0, 0.75); }

table {
  color: #ededed !important; }

div.content {
  position: relative; }
  div.content > div {
    -webkit-transition: 1s -webkit-filter linear;
    -moz-transition: 1s -moz-filter linear;
    -moz-transition: 1s filter linear;
    -ms-transition: 1s -ms-filter linear;
    -o-transition: 1s -o-filter linear;
    transition: 1s filter linear, 1s -webkit-filter linear; }

div.blurred {
  filter: blur(10px); }

div.loadingBlur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  div.loadingBlur .notice {
    font-size: 5vw;
    background: rgba(0, 0, 0, 0.4);
    padding: 1.8em 2.5em;
    border: 12px solid white;
    text-shadow: 0 0 4px #000000;
    -webkit-text-stroke: 2px black; }

div#divJobList {
  margin-bottom: 1em; }
  div#divJobList .job {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 8px; }
    div#divJobList .job .jobTitle {
      display: grid;
      grid-template-columns: auto max-content; }
      div#divJobList .job .jobTitle h3 {
        cursor: pointer; }
        div#divJobList .job .jobTitle h3 img {
          max-width: 20px;
          margin-right: .3em; }
      div#divJobList .job .jobTitle .commands {
        display: flex;
        grid-gap: .2em; }
        div#divJobList .job .jobTitle .commands button {
          background: none;
          color: white;
          font-size: 1.8em; }
    div#divJobList .job .editJob {
      background: rgba(0, 0, 0, 0.2);
      padding: 1em;
      border-radius: 8px; }
      div#divJobList .job .editJob .editJobWrapper {
        background: rgba(0, 0, 0, 0.2);
        padding: 1em;
        border-radius: 8px; }
    div#divJobList .job .workLoad {
      background: rgba(0, 0, 0, 0.2);
      padding: 1em;
      border-radius: 8px;
      margin-bottom: 1em; }
      div#divJobList .job .workLoad .workLoadItems {
        overflow: auto;
        max-height: 220px; }
        div#divJobList .job .workLoad .workLoadItems .workitem {
          padding: .5em;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 2px;
          margin-bottom: 1px; }
          div#divJobList .job .workLoad .workLoadItems .workitem span {
            white-space: nowrap;
            margin-right: 0.5em; }
    div#divJobList .job .jobLog {
      background: rgba(0, 0, 0, 0.2);
      padding: 1em;
      border-radius: 8px;
      margin-bottom: 1em; }
      div#divJobList .job .jobLog .jobEventsScrollWrapper {
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
        max-height: 195px;
        position: relative;
        margin-bottom: 1em; }
        div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          padding: .5em .3em; }
          div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event {
            display: block;
            font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }

div#divNewJob {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em; }
  div#divNewJob .testEvents {
    background: rgba(0, 0, 0, 0.2);
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin: 1em 0; }
    div#divNewJob .testEvents .testEvent {
      display: block;
      padding: .3em .5em; }

div#divAddJobWrapper, div#divAddPresetWrapper {
  text-align: center; }
  div#divAddJobWrapper i, div#divAddPresetWrapper i {
    cursor: pointer; }

div#divNewPreset {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em; }
  div#divNewPreset .codecOptions {
    background: rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1em; }

div.preset {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: auto max-content; }
  div.preset .commands {
    display: flex;
    grid-gap: .2em; }
    div.preset .commands button {
      background: none;
      color: white;
      font-size: 1.8em; }

.input-group {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: .5em;
  display: flex; }
  .input-group:hover, .input-group:focus, .input-group:active {
    background: rgba(0, 0, 0, 0.3); }
  .input-group div {
    flex: 1 1 auto; }
  .input-group .form-control {
    color: #ededed;
    border: none;
    background: transparent; }
    .input-group .form-control:focus {
      border: none;
      color: #ededed;
      outline: none;
      box-shadow: none; }
  .input-group input.form-control::placeholder {
    color: #ccc; }
  .input-group input.form-control[data-affix] {
    position: relative; }
    .input-group input.form-control[data-affix]::before {
      content: 'brrr'; }
  .input-group input.form-control[type=checkbox] {
    background: red;
    width: 1.3em;
    border-radius: 5px;
    margin-left: .3em; }
  .input-group label {
    padding-left: .8em; }
  .input-group select.form-control option {
    background: #444;
    color: #ededed;
    overflow: hidden; }

fieldset {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 0.4em 1em; }
  fieldset legend {
    width: auto;
    padding: 0 .4em; }

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac; }

app {
  position: relative;
  display: flex;
  flex-direction: column; }

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center; }

.main {
  flex: 1; }
  .main .top-row {
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: flex-end; }
    .main .top-row > a, .main .top-row .btn-link {
      white-space: nowrap;
      margin-left: 1.5rem; }
    .main .top-row a:first-child {
      overflow: hidden;
      text-overflow: ellipsis; }

.topbar .top-row {
  background-color: rgba(0, 0, 0, 0.2); }

.topbar .navbar-brand {
  font-size: 1.6rem;
  color: rgba(240, 0, 0, 0.75); }

.topbar .fas {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px; }

.topbar .nav {
  flex-direction: column; }
  .topbar .nav .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem; }
    .topbar .nav .nav-item:first-of-type {
      padding-top: 1rem; }
    .topbar .nav .nav-item:last-of-type {
      padding-bottom: 1rem; }
    .topbar .nav .nav-item a {
      color: white;
      border-radius: 4px;
      height: 3rem;
      display: flex;
      align-items: center;
      line-height: 3rem; }
      .topbar .nav .nav-item a.active {
        background-color: rgba(0, 0, 0, 0.2);
        color: white; }
      .topbar .nav .nav-item a:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: #333; }
    .topbar .nav .nav-item .nav-link .fas {
      color: white; }
    .topbar .nav .nav-item .nav-link span {
      width: 2rem; }
    .topbar .nav .nav-item .nav-link img {
      max-width: 20px; }

.content {
  padding-top: 1.1rem; }

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.1); }

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050; }

.invalid {
  outline: 1px solid red; }

.validation-message {
  color: rgba(240, 0, 0, 0.75); }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: black; }
  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem; }

.filterList .filterTableWrapper {
  border-collapse: separate; }
  .filterList .filterTableWrapper thead th:not(.hide) {
    border: 2px solid #666;
    border-radius: 4px;
    background: white; }
    .filterList .filterTableWrapper thead th:not(.hide) select, .filterList .filterTableWrapper thead th:not(.hide) input[type=text] {
      padding: 3px;
      border: none;
      background: transparent;
      color: #333; }
    .filterList .filterTableWrapper thead th:not(.hide) option {
      /*                    background-color: $overBackground*/ }
  .filterList .filterTableWrapper td:not(:first-child) {
    padding: 5px 10px; }
  .filterList .filterTableWrapper td:first-child {
    text-align: center; }

button {
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 3px;
  color: rgba(240, 0, 0, 0.75); }
  button:active, button:visited, button:focus {
    border: none;
    outline: none; }
  button:hover {
    background: white; }
  button:disabled {
    color: #888; }
  button.icon {
    background: transparent;
    border: none;
    color: #ededed; }

@media (max-width: 767.98px) {
  .main .top-row:not(.auth) {
    display: none; }
  .main .top-row.auth {
    justify-content: space-between; }
  .main .top-row a, .main .top-row .btn-link {
    margin-left: 0; } }

@media (min-width: 768px) {
  app {
    /*flex-direction: row;*/
    padding: 0 1rem; }
  .topbar {
    width: 100%;
    height: auto;
    /*position: sticky;*/
    /*        top: 0;*/ }
    .topbar .nav {
      flex-direction: row;
      justify-content: center; }
      .topbar .nav .nav-item {
        padding-top: 1rem; }
        .topbar .nav .nav-item .nav-link {
          display: block;
          height: auto;
          text-align: center;
          line-height: normal; }
          .topbar .nav .nav-item .nav-link span {
            display: block;
            width: auto;
            height: 3rem;
            margin-bottom: .5rem; }
            .topbar .nav .nav-item .nav-link span img {
              max-width: 3rem; }
            .topbar .nav .nav-item .nav-link span i {
              font-size: 3rem;
              width: auto; }
  .top-row {
    display: none; }
  .main {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px; }
    .main > div {
      padding-left: 2rem !important;
      padding-right: 1.5rem !important; }
  .navbar-toggler {
    display: none; }
  .topbar .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block; } }
