body {
  height: 100vh;
  margin: 0; }
  body app {
    position: relative;
    display: grid;
    grid-template-rows: max-content auto;
    height: 100vh;
    /*> .topbar {
            width: 100%;
            height: auto;

            .nav {
                flex-direction: row;
                justify-content: center;

                .nav-item {
                    padding-top: 1rem;

                    .nav-link {
                        display: block;
                        height: auto;
                        text-align: center;
                        line-height: normal;
                        color: $font-color;

                        span {
                            display: block;
                            width: auto;
                            height: 3rem;
                            margin-bottom: .5rem;

                            img {
                                max-width: 3rem;
                            }

                            i {
                                font-size: 3rem;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }*/ }
    body app a {
      color: var(--mud-palette-primary); }
      body app a:hover {
        text-decoration: underline; }
    body app pre {
      white-space: pre-wrap; }
    body app .modal {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      text-align: center; }
      body app .modal h1 {
        font-size: 10vw;
        color: #eee;
        text-shadow: 0px 0px 5px #333; }
      body app .modal .card-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em; }
    body app .mud-toolbar-appbar nav a {
      color: var(--mud-palette-primary-text);
      margin: 0 2em; }
      body app .mud-toolbar-appbar nav a.active {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 5px; }
      body app .mud-toolbar-appbar nav a svg {
        vertical-align: middle; }
    body app #content {
      padding-top: 1.1rem; }
      body app #content select.mudReplacement, body app #content select.mudReplacement:focus-visible {
        padding: 4px 0 6px;
        border: none;
        outline: none; }
      body app #content #divRadarr .filterList .filterTableWrapper, body app #content #divSonarr .filterList .filterTableWrapper {
        border-collapse: separate; }
        body app #content #divRadarr .filterList .filterTableWrapper thead th:not(.hide) option, body app #content #divSonarr .filterList .filterTableWrapper thead th:not(.hide) option {
          /*                    background-color: $overBackground*/ }
        body app #content #divRadarr .filterList .filterTableWrapper tbody, body app #content #divSonarr .filterList .filterTableWrapper tbody {
          color: var(--mud-palette-secondary); }
        body app #content #divRadarr .filterList .filterTableWrapper td:not(:first-child), body app #content #divSonarr .filterList .filterTableWrapper td:not(:first-child) {
          padding: 5px 10px; }
        body app #content #divRadarr .filterList .filterTableWrapper td:first-child, body app #content #divSonarr .filterList .filterTableWrapper td:first-child {
          text-align: center; }
      body app #content #divJobList {
        margin-bottom: 1em; }
        body app #content #divJobList .job .jobEventsScrollWrapper {
          display: flex;
          flex-direction: column-reverse;
          overflow: auto;
          max-height: 190px;
          position: relative;
          margin-bottom: 1em; }
          body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event {
            display: block;
            font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }
            body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event.Trace {
              color: #aaa; }
            body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event.Debug {
              color: #ededed; }
            body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event.Information {
              color: aqua; }
            body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event.Warning {
              color: beige; }
            body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event.Error {
              color: tomato; }
            body app #content #divJobList .job .jobEventsScrollWrapper .jobEvents .event.Critical {
              color: red; }
        body app #content #divJobList #divAddJobWrapper {
          margin-bottom: 1em;
          text-align: center; }
          body app #content #divJobList #divAddJobWrapper i {
            cursor: pointer; }
      body app #content #divNewPreset {
        margin-bottom: 1em; }
        body app #content #divNewPreset .codecOptions {
          margin-bottom: 1em; }
        body app #content #divNewPreset #divAddPresetWrapper {
          text-align: center; }
          body app #content #divNewPreset #divAddPresetWrapper i {
            cursor: pointer; }
      body app #content.preset {
        margin-bottom: 1em;
        display: grid;
        grid-template-columns: auto max-content; }
      body app #content #divRadarrOptions, body app #content #divSonarrOptions {
        margin-bottom: 1em; }
    body app folder {
      position: relative;
      display: block; }
      body app folder ol {
        background: #444;
        -moz-box-shadow: 2px 2px 3px #000;
        -webkit-box-shadow: 2px 2px 3px #000;
        box-shadow: 2px 2px 3px #000;
        left: 0;
        list-style: none;
        margin: 0;
        max-height: 300px;
        overflow: auto;
        padding-left: 30px;
        position: absolute;
        top: 100%;
        z-index: 10; }
        body app folder ol li {
          cursor: pointer;
          font-size: .8em;
          list-style-image: url(/icons/directory.png);
          margin: 0;
          padding: 0.2em .4em; }
          body app folder ol li.active {
            background: rgba(0, 0, 0, 0.2); }

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050; }

.invalid {
  outline: 1px solid red; }

.validation-message {
  color: rgba(240, 0, 0, 0.75); }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  color: black;
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem; }

@keyframes animateLI1 {
  0% {
    top: 0;
    left: -600px; }
  20% {
    top: 0;
    left: 0; }
  40% {
    top: 0;
    left: 600px; }
  60% {
    top: 0;
    left: 600px; }
  80% {
    top: 0;
    left: 600px; }
  100% {
    top: 0;
    left: 600px; } }

@keyframes animateLI2 {
  0% {
    top: -200px;
    left: 590px; }
  20% {
    top: -200px;
    left: 590px; }
  40% {
    top: 0;
    left: 590px; }
  60% {
    top: 200px;
    left: 590px; }
  80% {
    top: 200px;
    left: 590px; }
  100% {
    top: 200px;
    left: 590px; } }

@keyframes animateLI3 {
  0% {
    top: calc(100% - 10px);
    left: 600px; }
  20% {
    top: calc(100% - 10px);
    left: 600px; }
  40% {
    top: calc(100% - 10px);
    left: 600px; }
  60% {
    top: calc(100% - 10px);
    left: 0; }
  80% {
    top: calc(100% - 10px);
    left: -600px; }
  100% {
    top: calc(100% - 10px);
    left: -600px; } }

@keyframes animateLI4 {
  0% {
    top: 100%;
    left: 0; }
  20% {
    top: 100%;
    left: 0; }
  40% {
    top: 100%;
    left: 0; }
  60% {
    top: 100%;
    left: 0; }
  80% {
    top: 0;
    left: 0; }
  100% {
    top: -100%;
    left: 0; } }
