html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ededed; }

body {
  background: #c3c3c3;
  /* Old browsers */
  background: url(https://raw.githubusercontent.com/Burry/Organizr-Plex-Theme/master/images/background/noise.png) center center fixed, -moz-linear-gradient(-45deg, #c3c3c3 0%, #141414 100%);
  /* FF3.6-15 */
  background: url(https://raw.githubusercontent.com/Burry/Organizr-Plex-Theme/master/images/background/noise.png) center center fixed, -webkit-linear-gradient(-45deg, #c3c3c3 0%, #141414 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: url(https://raw.githubusercontent.com/Burry/Organizr-Plex-Theme/master/images/background/noise.png) center center fixed, linear-gradient(135deg, #c3c3c3 0%, #141414 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-Start', endColorstr='$background-End',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100vh; }
  body app {
    position: relative;
    display: grid;
    grid-template-rows: max-content auto;
    height: 100vh; }
    body app .modal {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      text-align: center; }
      body app .modal h1 {
        font-size: 10vw;
        color: #eee;
        text-shadow: 0px 0px 5px #333; }
      body app .modal .card-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em; }
    body app > .topbar {
      width: 100%;
      height: auto; }
      body app > .topbar .nav {
        flex-direction: row;
        justify-content: center; }
        body app > .topbar .nav .nav-item {
          padding-top: 1rem; }
          body app > .topbar .nav .nav-item .nav-link {
            display: block;
            height: auto;
            text-align: center;
            line-height: normal;
            color: #ededed; }
            body app > .topbar .nav .nav-item .nav-link span {
              display: block;
              width: auto;
              height: 3rem;
              margin-bottom: .5rem; }
              body app > .topbar .nav .nav-item .nav-link span img {
                max-width: 3rem; }
              body app > .topbar .nav .nav-item .nav-link span i {
                font-size: 3rem;
                width: auto; }
    body app > .main {
      background: rgba(0, 0, 0, 0.2);
      padding: 1em;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 0 1em 1em;
      min-height: 0;
      position: relative; }
      body app > .main #content {
        height: 100%;
        overflow: auto;
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
        padding-top: 1.1rem;
        position: relative; }
        body app > .main #content > div {
          -webkit-transition: 1s -webkit-filter linear;
          -moz-transition: 1s -moz-filter linear;
          -moz-transition: 1s filter linear;
          -ms-transition: 1s -ms-filter linear;
          -o-transition: 1s -o-filter linear;
          transition: 1s filter linear, 1s -webkit-filter linear; }
          body app > .main #content > div#divRadarr .filterList .filterTableWrapper {
            border-collapse: separate; }
            body app > .main #content > div#divRadarr .filterList .filterTableWrapper thead th:not(.hide) {
              border: 2px solid #666;
              border-radius: 4px;
              background: white; }
              body app > .main #content > div#divRadarr .filterList .filterTableWrapper thead th:not(.hide) select, body app > .main #content > div#divRadarr .filterList .filterTableWrapper thead th:not(.hide) input[type=text] {
                padding: 3px;
                border: none;
                background: transparent;
                color: #333; }
              body app > .main #content > div#divRadarr .filterList .filterTableWrapper thead th:not(.hide) option {
                /*                    background-color: $overBackground*/ }
            body app > .main #content > div#divRadarr .filterList .filterTableWrapper td:not(:first-child) {
              padding: 5px 10px; }
            body app > .main #content > div#divRadarr .filterList .filterTableWrapper td:first-child {
              text-align: center; }
          body app > .main #content > div#divJobList {
            margin-bottom: 1em; }
            body app > .main #content > div#divJobList .job {
              background: rgba(0, 0, 0, 0.2);
              padding: 1em;
              border-radius: 8px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              margin-bottom: 1em; }
              body app > .main #content > div#divJobList .job .jobTitle {
                display: grid;
                grid-template-columns: auto max-content; }
                body app > .main #content > div#divJobList .job .jobTitle h3 {
                  cursor: pointer; }
                  body app > .main #content > div#divJobList .job .jobTitle h3 img {
                    max-width: 20px;
                    margin-right: .3em; }
                body app > .main #content > div#divJobList .job .jobTitle .commands {
                  display: flex;
                  grid-gap: .6em;
                  margin-bottom: .5em; }
                  body app > .main #content > div#divJobList .job .jobTitle .commands button {
                    color: white;
                    font-size: 1.4em; }
              body app > .main #content > div#divJobList .job .editJob {
                background: rgba(0, 0, 0, 0.2);
                padding: 1em;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                margin-bottom: 1em; }
                body app > .main #content > div#divJobList .job .editJob .editJobWrapper {
                  background: rgba(0, 0, 0, 0.2);
                  padding: 1em;
                  border-radius: 8px;
                  border: 1px solid rgba(0, 0, 0, 0.2); }
              body app > .main #content > div#divJobList .job .workLoad {
                background: rgba(0, 0, 0, 0.2);
                padding: 1em;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                margin-bottom: 1em; }
                body app > .main #content > div#divJobList .job .workLoad .workLoadItems {
                  overflow: auto;
                  max-height: 220px; }
                  body app > .main #content > div#divJobList .job .workLoad .workLoadItems .workitem {
                    padding: .5em;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 2px;
                    margin-bottom: 1px; }
                    body app > .main #content > div#divJobList .job .workLoad .workLoadItems .workitem span {
                      white-space: nowrap;
                      margin-right: 0.5em; }
              body app > .main #content > div#divJobList .job .jobLog {
                background: rgba(0, 0, 0, 0.2);
                padding: 1em;
                border-radius: 8px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                margin-bottom: 1em; }
                body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper {
                  display: flex;
                  flex-direction: column-reverse;
                  overflow: auto;
                  max-height: 195px;
                  position: relative;
                  margin-bottom: 1em; }
                  body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents {
                    cursor: pointer;
                    background: rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    padding: .5em .3em; }
                    body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event {
                      display: block;
                      font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; }
                      body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event.Trace {
                        color: #aaa; }
                      body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event.Debug {
                        color: #ededed; }
                      body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event.Information {
                        color: aqua; }
                      body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event.Warning {
                        color: beige; }
                      body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event.Error {
                        color: tomato; }
                      body app > .main #content > div#divJobList .job .jobLog .jobEventsScrollWrapper .jobEvents .event.Critical {
                        color: red; }
            body app > .main #content > div#divJobList #divAddJobWrapper {
              background: rgba(0, 0, 0, 0.2);
              padding: 1em;
              border-radius: 8px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              margin-bottom: 1em;
              text-align: center; }
              body app > .main #content > div#divJobList #divAddJobWrapper i {
                cursor: pointer; }
          body app > .main #content > div#divNewPreset {
            background: rgba(0, 0, 0, 0.2);
            padding: 1em;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 1em; }
            body app > .main #content > div#divNewPreset .codecOptions {
              background: rgba(0, 0, 0, 0.2);
              padding: 1em;
              border-radius: 8px;
              border: 1px solid rgba(0, 0, 0, 0.2);
              margin-bottom: 1em; }
            body app > .main #content > div#divNewPreset #divAddPresetWrapper {
              text-align: center; }
              body app > .main #content > div#divNewPreset #divAddPresetWrapper i {
                cursor: pointer; }
          body app > .main #content > div.preset {
            background: rgba(0, 0, 0, 0.2);
            padding: 1em;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 1em;
            display: grid;
            grid-template-columns: auto max-content; }
            body app > .main #content > div.preset .commands {
              display: flex;
              grid-gap: .6em;
              margin-bottom: .5em; }
              body app > .main #content > div.preset .commands button {
                color: white;
                font-size: 1.4em; }
          body app > .main #content > div#divRadarrOptions, body app > .main #content > div#divSonarrOptions {
            background: rgba(0, 0, 0, 0.2);
            padding: 1em;
            border-radius: 8px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 1em; }
          body app > .main #content > div .input-group {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            margin-bottom: .5em;
            display: flex;
            padding-left: 0.8em; }
            body app > .main #content > div .input-group:hover, body app > .main #content > div .input-group:focus, body app > .main #content > div .input-group:active {
              background: rgba(0, 0, 0, 0.3); }
            body app > .main #content > div .input-group .form-control {
              background: transparent;
              border: none;
              color: #ededed;
              display: block;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.5;
              margin-right: 0.8em;
              width: 100%; }
              body app > .main #content > div .input-group .form-control::placeholder {
                color: #ccc; }
              body app > .main #content > div .input-group .form-control:focus {
                color: #ededed;
                outline: none;
                box-shadow: none; }
              body app > .main #content > div .input-group .form-control[data-affix] {
                position: relative; }
                body app > .main #content > div .input-group .form-control[data-affix]::before {
                  content: 'brrr'; }
              body app > .main #content > div .input-group .form-control[type=checkbox] {
                width: 1.3em;
                border-radius: 5px;
                margin-left: .3em; }
              body app > .main #content > div .input-group .form-control[type="text"] {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                border-radius: 0;
                padding: 0 0.6em;
                margin: 0.5em 0.8em .5em 0;
                height: auto; }
              body app > .main #content > div .input-group .form-control option {
                background: #444;
                color: #ededed;
                overflow: hidden; }
            body app > .main #content > div .input-group div {
              flex: 1 1 auto;
              position: relative; }
              body app > .main #content > div .input-group div.percent::after {
                content: '%';
                position: absolute;
                top: .5em;
                right: .5em;
                transition: all .05s ease-in-out; }
              body app > .main #content > div .input-group div.percent input {
                width: calc(100% - 1em); }
            body app > .main #content > div .input-group button {
              margin: .3em; }
          body app > .main #content > div a {
            color: rgba(240, 0, 0, 0.75); }
          body app > .main #content > div button {
            background: rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            color: white;
            padding: .2em 0.6em;
            -moz-transition: box-shadow ease-in 200ms;
            -o-transition: box-shadow ease-in 200ms;
            -webkit-transition: box-shadow ease-in 200ms;
            transition: box-shadow ease-in 200ms; }
            body app > .main #content > div button:active, body app > .main #content > div button:visited, body app > .main #content > div button:focus {
              border: none;
              outline: none; }
            body app > .main #content > div button:hover:not(:disabled) {
              box-shadow: white 0 0 11px inset; }
            body app > .main #content > div button:disabled {
              color: #888; }
            body app > .main #content > div button i {
              color: rgba(240, 0, 0, 0.75); }
        body app > .main #content table {
          color: #ededed !important; }
          body app > .main #content table#tableMovies thead {
            font-weight: bold;
            white-space: nowrap; }
            body app > .main #content table#tableMovies thead tr {
              background: rgba(0, 0, 0, 0.2); }
        body app > .main #content folder {
          position: relative;
          display: block; }
          body app > .main #content folder ol {
            background: #444;
            -moz-box-shadow: 2px 2px 3px #000;
            -webkit-box-shadow: 2px 2px 3px #000;
            box-shadow: 2px 2px 3px #000;
            left: 0;
            list-style: none;
            margin: 0;
            max-height: 300px;
            overflow: auto;
            padding-left: 30px;
            position: absolute;
            top: 100%;
            z-index: 10; }
            body app > .main #content folder ol li {
              cursor: pointer;
              font-size: .8em;
              list-style-image: url(/icons/directory.png);
              margin: 0;
              padding: 0.2em .4em; }
              body app > .main #content folder ol li.active {
                background: rgba(0, 0, 0, 0.2); }

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050; }

.invalid {
  outline: 1px solid red; }

.validation-message {
  color: rgba(240, 0, 0, 0.75); }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  color: black;
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  #blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem; }

@keyframes animateLI1 {
  0% {
    top: 0;
    left: -600px; }
  20% {
    top: 0;
    left: 0; }
  40% {
    top: 0;
    left: 600px; }
  60% {
    top: 0;
    left: 600px; }
  80% {
    top: 0;
    left: 600px; }
  100% {
    top: 0;
    left: 600px; } }

@keyframes animateLI2 {
  0% {
    top: -200px;
    left: 590px; }
  20% {
    top: -200px;
    left: 590px; }
  40% {
    top: 0;
    left: 590px; }
  60% {
    top: 200px;
    left: 590px; }
  80% {
    top: 200px;
    left: 590px; }
  100% {
    top: 200px;
    left: 590px; } }

@keyframes animateLI3 {
  0% {
    top: calc(100% - 10px);
    left: 600px; }
  20% {
    top: calc(100% - 10px);
    left: 600px; }
  40% {
    top: calc(100% - 10px);
    left: 600px; }
  60% {
    top: calc(100% - 10px);
    left: 0; }
  80% {
    top: calc(100% - 10px);
    left: -600px; }
  100% {
    top: calc(100% - 10px);
    left: -600px; } }

@keyframes animateLI4 {
  0% {
    top: 100%;
    left: 0; }
  20% {
    top: 100%;
    left: 0; }
  40% {
    top: 100%;
    left: 0; }
  60% {
    top: 100%;
    left: 0; }
  80% {
    top: 0;
    left: 0; }
  100% {
    top: -100%;
    left: 0; } }
