@page "/"
@using Compressarr.FFmpegFactory;
@using Compressarr.Filtering;
@using Compressarr.JobProcessing;
@using Compressarr.Pages.Services;
@using Compressarr.Services
@using Compressarr.Settings
@using JobProcessing.Models;


@{
    if (!FilterManager.Filters.Any())
    {
        <p>So you need to define a filter for either Radarr, Sonarr or both.</p>
    }
    else if (!FFmpegManager.Presets.Any())
    {
        <p>So you need to define a preset for FFmpeg.</p>
    }
    else
    {
        <div id="divJobList">
            <MudExpansionPanels>

                @foreach (var job in JobManager.Jobs)
                {
                    <JobView job="job"></JobView>

                }
                <JobView job="@newJob" NewJob="true" OnAdd="addJob"></JobView>
            </MudExpansionPanels>
        </div>
    }

}