@page "/"

@{
    if (AllGood)
    {
        <div id="divJobList">
            <MudExpansionPanels>

                @foreach (var job in JobManager.Jobs)
                {
                    <JobView job="job"></JobView>

                }
                <JobView job="@newJob" NewJob="true" OnAdd="addJob"></JobView>
            </MudExpansionPanels>
        </div>
    }
    else
    {
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudSimpleTable >
                <tbody>
                    <tr>
                        <td><MudText><MudAvatar Image="https://raw.githubusercontent.com/radarr/radarr.github.io/master/logo/radarr.svg" Size="Size.Medium" Class="mr-2" Style="vertical-align:middle" />Radarr connection:</MudText></td>
                        <td><ServiceStatusResult Result="radarrStatus"></ServiceStatusResult></td>
                    </tr>
                    <tr>
                        <td><MudText><MudAvatar Image="https://raw.githubusercontent.com/sonarr/sonarr.github.io/master/logo/sonarr.svg" Size="Size.Medium" Class="mr-2" Style="vertical-align:middle" />Sonarr connection:</MudText></td>
                        <td><ServiceStatusResult Result="sonarrStatus"></ServiceStatusResult></td>
                    </tr>
                    <tr>
                        <td><MudText><MudAvatar Size="Size.Medium" Class="mr-2" Style="vertical-align:middle"><MudIcon Icon="@Icons.Material.Outlined.FilterAlt" /></MudAvatar>Define Filters:</MudText></td>
                        <td><ServiceStatusResult Result="filterStatus"></ServiceStatusResult></td>
                    </tr>
                    <tr>
                        <td><MudText><MudAvatar Size="Size.Medium" Class="mr-2" Style="vertical-align:middle"><MudIcon Icon="@Icons.Material.Outlined.Article" /></MudAvatar>Define Presets:</MudText></td>
                        <td><ServiceStatusResult Result="presetStatus"></ServiceStatusResult></td>
                    </tr>
                </tbody>
            </MudSimpleTable>
        </MudContainer>
    }
}