@page "/sonarr"

@using Compressarr.Filtering;
@using Compressarr.Filtering.Models;
@using Compressarr.Helpers;

@inject Compressarr.Services.Interfaces.IRadarrService radarrService
@inject FilterManager filterManager

<div class="my-2 filterList">
    <h1>Damn it, I'm working on it OK???</h1>
</div>
